<%- include("../partial/_header.ejs") %>

<div class="columns is-mobile is-centered">
    <div class="column is-half">
    <%- include("../partial/_article_card.ejs", { article, index:undefined }) %>
</div>
</div>